./idea
./to_onnx/a.onnx
./to_onnx/b.onnx
./to_onnx/best.pt
./to_onnx/last.pt
*.onnx
*.weights
*.pt
.idea/workspace.xml
.idea/
src/core.db
result/
__pycache__
src/database/core.db
*.db
__pycache__
*.pyc
*.pyd
.idea
*.db
